[user]
    name  = Karol Kozłowski
    email = karol.z.kozlowski@gmail.com
    # set email per repository using:
    # git config user.email

[alias]
    st    = status
    ci    = commit
    co    = checkout
    b     = branch
    br    = branch -a
    p     = pull -r -p
    l     = log --oneline
    glog  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[color]
    ui = auto

[core]
    editor = vim
    excludesfile = ~/.gitignore-global
    #less --quit-if-one-screen --quit-at-eof --chop-long-lines --RAW-CONTROL-CHARS --no-init
    pager = "less -F -E -S -R -X"

[tig]
    horizontal-scroll = 33%    # Scroll 33% of the view width
    split-view-height = 80%    # Split to 80% of the screen

[mergetool]
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[status]
    showUntrackedFiles = all

[push]
    default = simple
[diff]
    ignore-all-space = true

